<mat-toolbar color="primary">
    <span>Minha Aplicação</span>
    
    <span class="spacer"></span>
    
    <!-- Menu de Cadastros com Submenu Livros -->
    <button mat-button [matMenuTriggerFor]="cadastrosMenu">Cadastros</button>
    
    <mat-menu #cadastrosMenu="matMenu">
      <button mat-menu-item [routerLink]="['/books']">
        <mat-icon>menu_book</mat-icon>  <!-- Ícone de Livros -->
        Livros
      </button>
    </mat-menu>
  </mat-toolbar>
  
  <!-- Conteúdo principal -->
  <router-outlet></router-outlet>
  