<div class="book-form-container">
  <h1>Cadastro de Livros</h1>
  <p>Utilize o formulário abaixo para cadastrar ou editar um livro.</p>
  <form [formGroup]="bookForm" (ngSubmit)="saveBook()">
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Autor</mat-label>
      <input matInput formControlName="author" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description" class="book-description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Publicação</mat-label>
      <input matInput type="date" formControlName="publishedDate" required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{ isEditMode ? 'Atualizar' : 'Adicionar' }} Livro
    </button>
    <button mat-raised-button color="warn" type="button" (click)="resetForm()">
      Cancelar
    </button>
  </form>
</div>

<!-- Listagem dos livros -->
<div class="book-list-container">
  <table mat-table [dataSource]="books" class="mat-elevation-z8">

    <!-- Título do Livro -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let book"> {{ book.title }} </td>
    </ng-container>
  
    <!-- Autor do Livro -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let book"> {{ book.author }} </td>
    </ng-container>
  
    <!-- Descrição do Livro -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descrição </th>
      <td mat-cell *matCellDef="let book"> {{ book.description }} </td>
    </ng-container>
  
    <!-- Data de Publicação -->
    <ng-container matColumnDef="publishedDate">
      <th mat-header-cell *matHeaderCellDef> Data de Publicação </th>
      <td mat-cell *matCellDef="let book"> {{ book.publishedDate | date }} </td>
    </ng-container>
  
    <!-- Botões de Ação (Editar/Deletar) -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let book">
        <button mat-icon-button (click)="editBook(book)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteBook(book._id)">  <!-- Usar _id -->
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['title', 'author', 'description', 'publishedDate', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['title', 'author', 'description', 'publishedDate', 'actions'];"></tr>
  </table>
  
  
</div>
